<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div style="display: flex; justify-content: space-between; flex-direction: column; min-height: 100vh;">
      {{ partial "header.html" }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
